{
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"insertPragma": false,
	"jsxSingleQuote": true,
	"printWidth": 80,
	"proseWrap": "always",
	"requirePragma": false,
	"semi": false,
	"singleAttributePerLine": false,
	"singleQuote": true,
	"tabWidth": 2,
	"useTabs": false,
	"vueIndentScriptAndStyle": false
}
